nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href="/")
        img.rounded(src="/assets/img/shiro-forward.jpg" width="30" height="30" alt="brand")
    button.navbar-toggler(data-toggle="collapse" data-target="#main-navbar")
        span.navbar-toggler-icon

    div.collapse.navbar-collapse#main-navbar
        ul.navbar-nav.mr-auto
            li.nav-item.home
                a.nav-link(href="/") <i class="fal fa-home mr-1"></i> Home
            li.nav-item.professional
                a.nav-link(href="/professional") <i class="fal fa-code-branch mr-1"></i> Professional
            li.nav-item.social
                a.nav-link(href="/social") <i class="fal fa-video mr-1"></i> Social

    ul.navbar-nav.ml-auto
        li.nav-item
            a.nav-link(href="/media/twitch" target="_blank") <i class="fab fa-twitch"></i>
        li.nav-item
            a.nav-link(href="/media/twitter" target="_blank") <i class="fab fa-twitter"></i>
        li.nav-item
            a.nav-link(href="/media/discord" target="_blank") <i class="fab fa-discord"></i>
        li.nav-item.ml-lg-4
            a.nav-link(href="/media/reddit" target="_blank") <i class="fab fa-reddit-alien"></i>
        li.nav-item.ml-lg-4
            a.nav-link(href="/media/github" target="_blank") <i class="fab fa-github"></i>
        li.nav-item
            a.nav-link(href="/media/linkedin" target="_blank") <i class="fab fa-linkedin-in"></i>

